h1{
    font-size: 250%;
    color:aqua;
}
h2{
    color:aqua;
}

.P1{

    color:aqua;
    text-align: center;
    padding: 5%;
    width: 100%;
}

img{
    width: 220px;
    border-radius: 50px;
}

p{
    color: #FFFFFF;
    font-size: 22px;
}

.P2{
    color:aqua;
    text-align: center;
}
.P3{
    color: aqua;
    text-align: center;
}